body {
    font-family: Arial, sans-serif;
    margin: 20px;
    background-color: #333;
    color: aliceblue;
}

form {
    margin-bottom: 20px;
}

.txt {
    background-color: #696565;
    padding: 10px;
}
