/* Laboratoire/src/components/card.css */
#root{
    --cream-background-color: rgb(249, 249, 200);
    --light-cream-background-color: rgb(249, 249, 229);
    --black-background-color: rgb(29, 29, 29);
    --black-border-color: rgb(76, 76, 62)  
}

.cards-list {
    margin-top: 25px;
    justify-content: center;
    display: flex;
    flex-wrap: nowrap;
    gap: 20px;
    overflow-x:auto;
    height: 290px;
}

.card {
    width: 175px;
    background-color: var(--light-cream-background-color);
    border-radius: 9px;
    padding: 10px;
    font-size: 12px;
    flex: 0 0 auto;
    display: flex;
    flex-direction: column;
    position: relative;
    cursor: pointer;
    transition: opacity 0.3s ease;
}

.card.selected {
    background-color: white;
    scale: 0.97;
}

.card-image {
    width: 100%;
    border-radius: 9px;
    margin-bottom: 9px;
}

.card-title {
    overflow: hidden;
    text-overflow: ellipsis;
}