/* Laboratoire/src/freeAnalysis.css */
@import url("https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900");
#root {
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

:root{
  --box-background-color: rgb(249, 249, 200);
  --light-box-background-color: rgb(249, 249, 229);
  --wall-background-color: rgb(29, 29, 29);
  --font-color: #000;
  --border-color: rgb(76, 76, 62)
}

[data-theme="light"]{
  --box-background-color: rgb(29, 29, 29);
  --light-box-background-color: rgb(39, 39, 39);
  --wall-background-color: rgb(249, 249, 200);
  --font-color: rgb(249, 249, 200);
  --border-color: rgb(76, 76, 62);
}

body {
    font-size: 22px;
    margin :auto;
    justify-content: center;
    min-height: 60vh;
    color: var(--font-color);
    background: var(--wall-background-color);
    font-family: "Poppins", sans-serif;
}

.free-h1{
  background-color: transparent; 
  border-radius: 5px;
  color: var(--inverted-font-color);
  
  margin-inline : auto;
  padding-inline: 20px;
  justify-content: center;
  width: fit-content;
  
  text-align: center;
  font-weight: 700;
  margin-top: 20px;
}

.free-form{
  display: flex;
  flex-direction: column;
  margin: auto;
  
  padding : 10px 10px 10px 10px;
  width : 800px
}

.form-input-context{
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
  grid-template-rows: 35px 35px 35px 35px;
  gap: 15px;
  justify-content: center;
  margin-top: 20px;
  margin-bottom: 30px;
}

#who-label{
  grid-row: 1/2 ;
  grid-column: 1/2;
}
#who{
  grid-row: 1/2;
  grid-column: 2/5;
}
#context-label{
  grid-row: 2/3;
  grid-column: 1/2;
}
#context{
  grid-row: 2/3;
  grid-column: 2/5;
}

#public-label{
  grid-row: 3/4;
  grid-column: 1/2;
}
#public{
  grid-row: 3/4;
  grid-column: 2/5;
}

#aim-label{
  grid-row: 4/5;
  grid-column: 1/2;
}
#aim{
  grid-row: 4/5;
  grid-column: 2/5;
}

.free-btn,.free-input, .free-label{
  font-size: 15px;
  line-height: 1.5;
  padding: 4px 8px;
  box-sizing: border-box;
  background-color: var(--box-background-color);
  color: var(--font-color);
  border-radius: 10px;
  text-decoration: none;
  transition: all .4s 0s ease;
  border: 1px solid var(--border-color);
  font-weight: 500;
}

.free-input{
  background-color: var(--light-box-background-color)
}

.free-btn:hover, .free-btn:active, .free-input:hover, .free-input:active, .file-label:hover, .file-label:active{
  background-color: var(--wall-background-color);
  color: var(--box-background-color);
  border: 1px solid var(--box-background-color);
  cursor: pointer;
}


.form-input-files{
  display: flex;
  flex-direction: column;
  margin-block: 20px;
  gap:10px
}

.response-container{
  background-color: var(--light-box-background-color); 
  border-radius: 5px;
  margin: 20px;
  box-shadow: 6px 6px 30px #010101b3;
  padding : 10px 10px 10px 10px;
  text-align: justify;
  width:fit-content;
}

.free-loading-div{
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.free-h3{
  background-color: transparent; 
  color: var(--inverted-font-color);
  font-size: 12px;
  
  margin-inline : auto;
  padding-inline: 20px;
  justify-content: center;
  width: fit-content;
  
  text-align: center;
  font-weight: 400;
  margin-top: 20px;
}

.free-loader-div{
  display: flex;
  justify-content: center;
  padding : 10px 20px 10px 20px;
}